*{ margin:0px;
    padding:0px;
    box-sizing:border-box;
  /*box sizing*/
  }
  
  header, nav, section, article, aside, footer {
  
    background-color: burlywood;
    display:block;
    margin:3px; 
  }
  
  header{
    background-color: coral;
    height:100px;
    /* width:100%; 블록레벨 태그는 자동으로 옆을 채우는 성격이 있어서  width 100% 설정하지 않아도 적용!*/ 
  
  }
  
  nav{
    background-color: yellow;
    height:100px;
    width: 80%;
    margin: 0px auto;
    padding-top:20px;  
  }
  
  #topMenu{  /*ul */
   
    display:flex;
    list-style: none;
    background-color: skyblue;
  }
  
  #topMenu li{
    position:relative;
    background-color: aquamarine;
    margin: 0px auto;
    width:70px;
  
  }
  #topMenu > li> ul{
    position:absolute;
    display: none;
    list-style: none;
  }
  
  #topMenu > li:hover> ul{
    display:block;
  }
  
  section{
    width: 80%;
    float:left;
  }
  
  article{
    width: 50%;
    background-color: beige;
  }
  
  aside{
    width: 20%;
    float:left;
  }
  
  div{
    display:flex;
    height: 700px;
  }
  
  footer{
    height: 100px;
  }